# Ignoruj stažené vrstvy (ty se spravují jinak nebo stahují znovu)
poky/
meta-meson/
meta-openembedded/

# Ignoruj celou složku build kromě tvé konfigurace
build/*
!build/conf/
meta-moje-radxa/xpluto9/bin/
meta-moje-radxa/xpluto9/certs/
meta-moje-radxa/xpluto9/.env
