[Unit]
Description=Resize root filesystem to fill available disk space
After=systemd-remount-fs.service
ConditionPathExists=/usr/sbin/resize-rootfs.sh

[Service]
Type=oneshot
ExecStart=/usr/sbin/resize-rootfs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
